@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main */

#root {
  font-family: "Montserrat", Helvetica, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 68px;
  margin: 40px 0 40px 0;
}

.navbar {
  display: flex;
  justify-content: space-around ;
  width: 25%;
}

.navbar>a {
  color : #FF6060;
  font-weight: 500;
  font-size: 24px;
	text-decoration: none;
}

.navbar [aria-current] {
	text-decoration: underline;
}

@media screen and (max-width:768px) {
  .navbar {
    width: 40%;
  }

  .navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
  }
}

@media screen and (max-width:426px) {
  .navbar a {
    font-size: 12px;
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 175px;
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 50px;
}

/* Banner */

.banner {
  position: relative;
  background-color: #000000;
  height: 223px;
  width: 90%;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 40px;
}

.bannerPicture {
  object-fit: cover;
  border-radius: 25px;
  opacity: 0.7;
  height: 223px;
  width: 100%;
}

.bannerText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 500;
  color : #FFFFFF;
}

@media screen and (max-width:768px) {
  .bannerText {
    width: 450px;
  }
}


@media screen and (max-width:426px) {
  
  .banner {
    height: 130px;
  }

  .bannerPicture {
  height: 130px;
  }

  .bannerText {
    left: 35%;
    width: 225px;
    font-size: 24px;
    text-align: left;
  }
}

/* Card */

.card {
  position: relative;
  height: 340px;
  width: 340px;
  border-radius: 5px;
}

.cardPicture {
  object-fit: cover;
  height: 340px;
  width: 340px;
  border-radius: 5px;
}

.darkOverlay{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.cardTitle {
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0
}

@media screen and (max-width:768px) {

  .card {
    height: 275px;
    width: 275px;
  }

  .cardPicture {
    height: 275px;
    width: 275px;
  }

}

@media screen and (max-width:426px) {

  .card {
    height: 225px;
    width: 100%;
  }

  .cardPicture {
    height: 225px;
    width: 100%;
  }

}

/* Collapse */

.collapse {
  width: 75%;
  margin-bottom: 20px;
}

.collapseTitle {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  background-color: #FF6060;
  color : #FFFFFF;
  cursor: pointer;
}

.collapseTitle h2, i {
  font-size: 24px;
  font-weight: 500;
}

.collapseContent {
  margin-top: -10px;
  padding : 30px 20px 10px 20px;
  width: 100%;
  border-radius: 5px;
  background-color: #F6F6F6;
}

.collapseContent p {
  margin: 5px 0;
  font-size: 24px;
  color: #FF6060;
}

@media screen and (max-width:426px) {
  .collapseTitle h2, i {
    font-size: 13px;
  }
  
  .collapseContent {
    padding : 20px 20px 10px 20px;
  }

  .collapseContent p {
    font-size: 12px;
  }
}

/* Home */

.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationCards {
  width: 90%;
  padding: 50px;
  border-radius: 25px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.locationCards li {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-basis: 33.33%;
}

@media screen and (max-width:426px) {

  .locationCards {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 0;
    background-color: #FFFFFF;
  }

  .locationCards li {
    margin-bottom: 20px;
    flex-basis: auto;
    width: 100%;
  }
}

/* Carrousel */

.carrousel {
  position: relative;
  width: 90%;
  height: 400px;
  border-radius: 25px;
  overflow: hidden;
}

.carrouselPicture {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrows {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.currentSlide {
  position: absolute;
  width: 100%;
  bottom: 15px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 0 10px #000000;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width:426px) {

  .carrousel {
    height: 300px;
  }

}

/* Tags */

.tags {
  display: flex;
  padding: 0;
  width: 80%;
}

.tags li {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  padding: 5px 25px;
  background-color: #FF6060;
  border-radius: 10px;
  color: #FFFFFF;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width:426px) {
  .tags li{
    font-size: 10px;
  }
}

/* Location */

.locationPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationDetails {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.locationTitle {
  width: 80%;
  color: #FF6060;
}

.locationTitle h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 40px 0 10px 0;
}

.locationTitle h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.locationHost {
  display: flex;
  align-items: center;
}

.locationHost h3 {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  margin: 0 10px;
}

.locationHost img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rating svg {
  margin-right: 5px;
}

.locationDetails .collapse {
  width: 48%;
}

@media screen and (max-width:768px) {

  .locationTitle, .tags {
    width: 100%;
    order: 1;
  }

  .rating {
    align-self: center;
    width: 50%;
    margin-bottom: 20px;
    order: 1;
  }

  .rating svg {
    width: 13px;
  }

  .locationHost {
    margin-bottom: 20px;
    order: 2
  }

  .locationHost h3 {
    font-size: 12px;
  }

  .locationHost img {
    width: 32px;
    height: 32px;
  }

  .locationDetails .collapse {
    width: 100%;
    order: 3;
  }
}

@media screen and (max-width:426px) {

  .locationTitle h2 {
    margin: 20px 0 5px 0;
    font-size: 18px;
  }

  .locationTitle h3 {
    font-size: 12px;
  }
}
/* About */

.aboutPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Error */

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.errorTitle {
  font-weight: 700;
  font-size: 250px;
  color: #FF6060;
  margin: 0;
}

.errorText {
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}

.errorLink {
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
}

@media screen and (max-width:768px) {

  .errorPage {
    height: 100%;
  }

  .errorTitle {
    font-size: 190px;
  }
  
  .errorText {
    font-size: 28px;
    text-align: center;
  }
}

@media screen and (max-width:426px) {

  .errorTitle {
    font-size: 150px;
  }

  .errorText {
    width: 90%;
    font-size: 24px;
    text-align: center;
  }
}
